body {
    margin: 0;
    padding: 0;
    background: rgb(139, 196, 222);
    font-family: "Open Sans", sans-serif;
}

.menuBtn {
    position: fixed;
    top: 30px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: clamp(40px, 8vw, 85px);
    height: clamp(30px, 6vw, 60px);
    cursor: pointer;
    z-index: 1000;
    padding-left: 5px;
}
.menuBtn span {
    position: relative;
    display: block;
    height: clamp(3px, 0.6vw, 5.5px);
    width: 100%;
    background: #333;
    border-radius: 2px;
    transition: 0.3s;
}

.sideMenu {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background: #222;
    color: white;
    padding-top: clamp(80px,8vw, 120px);
    transition: 0.3s;
}
.sideMenu a {
    display: block;
    padding: 15px;
    padding-left: 25px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: background 0.3s;
}
.sideMenu a:hover {
    background: #444;
}
.sideMenu.active {
    left: 0;
}

.headingName {
    color: rgb(230, 230, 230);
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.1;
}

.bwbLogo{
    position: fixed;
    top: clamp(15px,5vw,25px);
    right: clamp(15px,5vw,25px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: clamp(60px, 12vw, 140px);
    height: clamp(60px, 12vw, 140px);
    cursor: pointer;
    z-index: 1000;
}

.uploadSection{
    font-weight: 600;
    font-size: 20px;
    max-width: 760px; 
    width: 80%;
    background: rgb(61, 114, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    margin: 30px auto;
    flex-direction: column;
}

.dragAndDrop {
    outline: 1px solid black;
    display: block;
    width: 100%;
    max-width: 700px;
    min-width: 500px;
    padding: 30px;
    background: rgb(22, 95, 130);
    color: whitesmoke;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}

#uploadImg {
    width: 175px;
    height: 175px;
    user-select: none;
    object-fit: contain;
}

.inputBtnSection {
    text-align: center;
    color: whitesmoke;
    margin-top: 20px;
}

.inputButton {
    display: inline-block;
    background: rgba(81, 218, 180, 0.9);
    padding: 0px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
}

.inputButton:hover {
    background: rgba(81, 218, 180, 1);
}

.orText{
    padding: 20px;
}

.processButton{
    text-align: center;
}

.processButtonDesign{
    border: none;
    outline: black solid 1.5px;
    background: rgba(0, 226, 92,0.9);
    color: whitesmoke;
    padding: 10px;
    width:40%;
    min-height: 80px;
    font-size: 40px;
    font-weight: 600;
}
.processButtonDesign:hover{
    background: rgb(11, 218, 94);
}





/* analysis page */
.progressContainer {
    display: block;
    position: fixed;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 20px;
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
}
.progressBar {
    width: 0%;
    height: 100%;
    background: #4CAF50;
    transition: width .1s linear;
}

